#creategame-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(219, 220, 221);
  height: 100rem;
  padding: 2rem 5rem;
  margin: 3rem;
  width: fit-content;
}

#creategame-title {
  font-size: 2.4rem;
  margin-bottom: 3rem;
  font-weight: bold;
}

#creategame-main-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#creategame-first-section,
#creategame-second-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-bottom: 4rem;
}

#creategame-third-section {
  display: flex;
  flex-direction: column;
  align-self: start;
  gap: 2rem;
}

.small-input {
  height: 2rem;
}

.large-input {
  height: 8rem;
  width: 60rem;
}

.small-input,
.large-input {
  border-radius: 10px;
  border: none;
}

#button-creategame {
  width: 10rem;
  background-color: #fea828;
}
