/* SEARCH BAR */
#searchbar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: solid greenyellow;
} 

#search{
    width: 45rem;
    border: solid black 0.15rem;
    border-radius: 0.3rem;
 
    
} ::placeholder{
    background: transparent;
    color: black;
}



/* ALL GAMES */
#allgames-header{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

#allgames{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;


    border: solid red;
}

.single-game-card{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    height: 10rem;
    width: 25rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
   
 
    

    border: solid #383636;
} 

#gametitle{
    color: black;
    font-size: 2rem;
    font-weight: bolder;
}