#searchbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#search {
  height: 3rem;
  width: 25rem;
  border-radius: 10px;
  border: 1px solid #cfcdcd;
}
::placeholder {
  background: transparent;
  color: black;
}

#allgames {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.single-game-card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  height: 10rem;
  width: 25rem;
  border: solid 1px #cfcdcd;
  border-radius: 10px;
}

#gametitle {
  font-size: 2rem;
}
