#allgames{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;


    border: solid red;
}

.single-game-card{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    height: 10rem;
    width: 25rem;

    border: solid blue;
} 

#gametitle{
    font-size: 2rem;
}