* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 15rem;
  width: 100vw;
  background-color: #383636;
}

.social-container {
  margin: 1rem 0;
}

a {
  pointer-events: none;
  padding: 0 0.5rem 0.5rem 0.5rem;
  color: #fff;
}

.youtube {
  color: rgb(255, 0, 0);
}
.facebook {
  color: rgb(24, 119, 242);
}
.twitter {
  color: rgb(29, 161, 242);
}
.instagram {
  background: #f09433;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
}

.links-container {
  margin-top: 2rem;
}

Link {
  color: #fff;
}

h2 {
  color: #fff;
}

h3 {
  color: #fff;
  font-size: 1rem;
  padding-top: 3rem;
  margin: 0;
}
