#game-spotlight-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;

    border: solid palegreen;
}

.single-feat-game{
    display: flex;
    flex-direction: row;
    margin: 1rem;
    height: 30rem;
    box-sizing: border-box;
    box-shadow: 0 0 16px 0 rgba(0,0,0,.1) ;
    border-radius: 0.5rem;
}

.single-feat-game:hover{
    transform: scale(1.02);
    transition-duration: 0.3s;
    transition: 0.3s ease-in-out;
   
  
}



.feat-pic{
    border-radius: inherit;
    height: 100%;
    width: 25rem;
}

.feat-game{
    height: 100%;
    width: 15rem;
    /* border: solid red; */
    text-align: center;
}