@import url("https://fonts.googleapis.com/css2?family=Gentium+Plus&display=swap");

nav {
  display: flex;
}

.website-name {
  font-family: gentium-plus;
  font-style: italic;
  color: #84dccf;
}

.website-name-sub {
  color: #fff;
  margin: 0;
  font-size: 0.8rem;
  font-weight: 300;
}

.name-arrow {
  color: #84dccf;
  font-size: 2rem;
}

#topbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 1.5rem 0;
  background-color: #383636;
}

.topnav-link-bar {
  display: flex;
  width: 25rem;
  justify-content: space-evenly;
}

.nav-bar-profile-picture {
  display: flex;
  justify-content: bottom;
}

#nav-profile-split {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
}

.links {
  color: white;
}

#logout-button{
  width: 5rem;
  height: 1.5rem;
  align-self: flex-start;
  border: solid red;
}
