.picturelinktoprofile {
  height: 3rem;
  width: 3rem;

  background: linear-gradient(
    90deg,
    rgba(202, 3, 204, 1) 0%,
    rgba(9, 9, 121, 1) 50%,
    rgba(0, 212, 255, 1) 100%
  );
  border-radius: 50%;
}
