ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 3rem;
}

.profile-nav {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.border-line {
  height: 1px;
  background-color: rgb(219, 220, 221);
  width: 60rem;
  margin-top: 1rem;
}

.profile-container {
  display: flex;
  margin-top: 5rem;
  justify-content: center;
  height: 40rem;
}

.profile-block {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  padding: 1rem;
  height: 18rem;
  width: 25rem;
  background-color: rgb(219, 220, 221);
  border: 1px solid rgb(107, 183, 249);
}

#profile-img {
  display: flex;
  vertical-align: center;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    90deg,
    rgba(204, 46, 3, 1) 0%,
    rgb(167, 36, 172) 50%,
    rgba(0, 212, 255, 1) 100%
  );
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  overflow: hidden;
}

.profile-loading {
  display: flex;
  align-items: center;
  height: 30rem;
}

h2,
h3 {
  margin: 0;
  padding: 0;
}

button {
  margin-top: 1rem;
  height: 2.3rem;
  width: 6.2rem;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid;
  border-left: 1px solid #fea828;
  border-bottom: 1px solid #fea828;
  border-top: none;
  border-right: none;
  cursor: pointer;
}

button:hover {
  transform: scale(1.02);
  transition-duration: 0.3s;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.329);
}

Link {
  /* Shouldn't be white text */
  text-decoration: none;
}

#admin-allgames {
  display: grid;
  grid-template-columns: repeat(3, 1fr) 10rem;
  gap: 3rem;
  justify-items: left;
}

.admin-game-card {
  height: 5rem;
}
