.input-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid blue;
}

.review-body,
.review-paragraph {
  height: 10rem;
  width: 50rem;
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  border: solid red;
}

.review-container {
  display: flex;
  flex-direction: column;
}

.review-input {
  height: 5rem;
}

input::placeholder {
  color: rgba(0, 0, 0, 0.833);
}

.review-paragraph {
  margin-top: 1rem;
  margin-bottom: -6rem;
}

.review-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
