.star-container {
  display: flex;
  flex-direction: row;
  width: 5rem;
}

input[type="radio"] {
  display: none;
}

.star {
  cursor: pointer;
  transition: color 200ms;
  height: 1.5rem;
  width: 1.5rem;
}

/* colors:
yellow: #ffc107
rgb(128, 128, 128)
 */
