#main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#main-body {
  display: flex;
  min-height: 100vh;
  max-width: 80rem;
  flex-direction: column;
}
