@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400&display=swap");

* {
  font-family: league-spartan, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
